a {
    background-image: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: -moz-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.card {
    color: hsl(60, 30%, 96%);
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: hsl(72, 7%, 13%);
}