<div class="card">
    <pre *ngIf="dcOpened">
    <code class="animated fadeInUp" [innerHTML]="item.code" highlight></code>
    </pre>
    <div class="card-body">
        <h4 class="card-title" (click)="collapseDc()">Замыкания</h4>
        <p *ngIf="dcOpened" class="card-text animated fadeInDown">Замыкание – это функция вместе со всеми внешними переменными, которые ей доступны.</p>
        <a *ngIf="dcOpened" href="https://learn.javascript.ru/closures" class="float-right" mdbRippleRadius>long read</a>
    </div>
</div>