a {
    background-image: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: -moz-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

pre {
    margin: -25px -20px;
}

code {
    min-height: 50px;
}

.card {
    color: hsl(60, 30%, 96%);
    display: block;
    overflow: hidden;
    background: #1c2637;
}